<div class="container-fluid header-bg" id="intro" style="padding:70px">  <!-- Intro container -->
  <div class="row t-b-pad"> <!-- row -->

    <div class="col-md-12 text-center"> <!-- col -->
    <%= image_tag "cafe-big.png", :class => "text-center", :width => 69, :height => 75 %>
    </div> <!-- /col -->

    <div class="col-xs-12"  id="getapp"> <!-- col -->
      <h1 class="jumbo-head-text text-center">Find the Ideal Cafe Near You
      </h1>
    </div> <!-- /col -->

    <div class="col-xs-6 col-xs-offset-3 col-md-6 col-md-offset-3"> <!-- col -->
      <label class="titlesubtext">Discovering the ideal cafe that is suitable for your needs can now be faster and more accurate
      </label>
    </div> <!-- /col -->
  </div> <!-- /row -->

  <div class="row"> <!-- row -->
    <div class="col-xs-12 text-center"> <!-- col -->
      <%= image_tag "google.png", :width => 200, :height => 60 %>
      <%= image_tag "apple.png", :width => 200, :height => 60 %>
    </div> <!-- /col -->
  </div> <!-- /row -->
  <div class="text-center">
  <i class="fa fa-chevron-down fa-2x"></i>
  </div>
</div> <!-- /container-fluid -->
<div>
<!--
<a href="" onclick="show('popup2')" style="color: blue">Show popup</button> 
</div>-->
<div class="popup" id="popup2" style="text-align:center;padding:60px;">
  <label class="signupmoretext">If you would like to explore more</label>
  <label class="signupmoretext1">please Sign Up with us.</label>
  <a href="#signuppage" class="text-center signuppage" onclick="hide('popup2')">Continue here</a>
  <div class="text-center">
  <i class="fa fa-chevron-down fa-2x"></i>
  </div>
</div>
  <div class="filtertable">
    <!--<div>
    <input type="range" min="0" max="60" value="20" step="3" />
    </div>-->
    
    <table style= "width: 100%">
    <tr>
    <td style="padding: 10px 0px 0px 10px">
    <label class="filterpanel filterborder">Filter Panel</label>
    </td> 
    <td style="padding: 12px 10px 0px 0px">
      <button class="filterpanel2 filterborder buttonreset" onclick="filterMarkersReset();">Reset</button>
    </td>
    <style>
  .toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 10px; }
  .toggle.ios .toggle-handle { border-radius: 20px; }
</style> 
    <tr>
    <td style="padding: 10px 10px 0px 10px">
    <i class="fa fa-users" aria-hidden="true"></i><label style="padding: 0 0px 5px 8px">Low Crowd</label>
    </td>  
    
    <td style="padding: 10px 0px 0px 10px"><input id="type_lowcrowd1" name="type_lowcrowd1" type="checkbox" data-toggle="toggle" data-size="mini" data-onstyle="primary" data-style="ios" data-height="20" data-width="30" data-on=" " data-off=" " onchange="filterMarkersLowCrowd(this.checked);"></td>

    </tr>

    <tr>
    <td style="padding: 0 10px 2px 10px"><i class="fa fa-wifi" aria-hidden="true"></i><label style="padding: 0px 0px 0px 8px">Wifi  </label>
    </td>  
    
    <td style="padding: 0 10px 0px 10px"><input id="type_wifi1" name="type_wifi1" type="checkbox" data-toggle="toggle" data-size="mini" data-onstyle="primary" data-style="ios" data-height="20" data-width="30" data-on=" " data-off=" " style="text-align:center" onchange="filterMarkersWifi(this.checked);" /></td>
    </tr>


     <tr>
    <td style="padding: 0px 10px 2px 10px"><i class="fa fa-plug" aria-hidden="true"></i><label style="padding: 0px 0px 0px 8px">Power Plug</label></td>
    <td style="padding: 0px 10px 0 10px"><input id="type_power_outlet" name="type_power_outlet" type="checkbox" data-toggle="toggle" data-size="mini" data-onstyle="primary" data-style="ios" data-height="20" data-width="30" data-on=" " data-off=" " style="text-align:center" onchange="filterMarkersPower_Outlet(this.checked);" /></td>

    </tr>
    <tr>
    <td style="padding: 0px 8px 0 10px"><i class="fa fa-certificate" aria-hidden="true"></i>
    <label style="padding: 0px 0px 2px 8px">New Cafes</label></td>
    <td style="padding: 0px 10px 0 10px"><input id="type_newcafes_outlet" name="type_newcafes_outlet" type="checkbox" data-toggle="toggle" data-size="mini" data-onstyle="primary" data-style="ios" data-height="20" data-width="30" data-on=" " data-off=" " style="text-align:center" onchange="filterMarkersNew_Cafes(this.checked);" /></td>
    </tr>

    <tr>
    <td style="padding: 0 10px 2px 10px"><i class="fa fa-bolt" aria-hidden="true"></i><label style="padding: 0px 0px 0px 16px">Trending</label></td>
    <td style="padding: 0 10px 0 10px"><input id="type_trend" name="type_trend" type="checkbox" data-toggle="toggle" data-size="mini" data-onstyle="primary" data-style="ios" data-height="20" data-width="30" data-on=" " data-off=" " style="text-align:center" onchange="   filterMarkersTrend(this.checked);" /></td>
    </tr>
    

    </table>
  
  </div>

  

   <div class="container-fluid">  <!-- Intro container -->
  <div class="row"> <!-- row -->
    <div class="col-xs-12"> <!-- col -->
      <div id="map"></div> <!-- /col -->
    </div>
  </div> <!-- /row -->
</div>
  

    <!-- Below are normal ajax call
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript" id="jquery"></script>
  
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
   -->
 
<div class="container-fluid signup-bg" id="signuppage">  <!-- Intro container -->
  
   
  <div class="signupform-containerall"> <!-- row -->
  <h2 class="SignUpText">Sign Up With Us</h2>
    <div class="signupform-container">
      <%= image_tag "signInFB.png", :width => 200, :height => "auto"%>
    </div>
    <div class="signupform-container">  
      <%= image_tag "signInGoogle.png",  :width => 200, :height => "auto"  %>
    </div>
    <div class="signupform-container">
      <%= image_tag "signMeUp.png",:width => 200, :height => "auto"  %>
    </div>
  </div> <!-- /row -->
</div> <!-- /container-fluid -->

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0x5pciXvFOMZFN7oyW9puomqyL8qBGZc&libraries=places&callback=initMap" async defer></script>
    <!--
    <script src="https://maps.googleapis.com/maps/apijs?key=AIzaSyB0x5pciXvFOMZFN7oyW9puomqyL8qBGZc&libraries=places&callback=initMap" async defer></script>
    -->
</html>