<!DOCTYPE html>
<html>
  <head>
    <title>A Nice Cafe</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- current_user is a method defined by devise to help us check if a user has signed in or not. -->
    <!-- Add below links: -->
  <nav class="navbar navbar-default navbar-fixed-top nav-bg">
  <div class="container-fluid"> <!-- container-fluid -->
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag("cafe-small.png", size: "60x75", class: "smallcafe"), controller: "coffeeshops",action: "main_map" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->

    <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1"> <!-- navbar collapse -->

      <ul class="nav navbar-nav nav-item">
        <li><%= link_to 'Get App', controller: "coffeeshops",action: "main_map" %></li>
        <li><%= link_to 'Find Cafe', controller: "coffeeshops",action: "main_map" %></li>
      </ul>
       <ul class="nav navbar-nav nav-item">
             <li><%= link_to 'Log In', controller: "coffeeshops",action: "main_map" %></li>
            <li><%= link_to 'Sign Up', controller: "coffeeshops",action: "main_map" %></li>
           
          </ul>
     </div>

        
    
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div id="intro">
</div>

    <!-- Flash Messages -->
    <%= yield %>
   <!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    -->    
    <!-- yield Google Map Places library here to sit at the bottom -->
    <!-- reference shops/index.html.erb -->
    <%= yield :jscript %>
  </body>
</html>








